asgiref==3.5.2
astroid==2.15.0
asttokens==2.2.1
autopep8==2.0.2
backcall==0.2.0
boto3==1.26.89
botocore==1.29.89
Brotli==1.0.9
cairocffi==1.4.0
CairoSVG==2.5.2
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
click==8.1.3
colorama==0.4.6
comm==0.1.3
contourpy==1.0.6
cryptography==38.0.4
cssselect2==0.7.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
dj-database-url==2.1.0
Django==4.1.7
django-admin-soft-dashboard==1.0.12
django-filter==23.2
django-grappelli==3.0.7
django-heroku==0.3.1
django-storages==1.13.2
django-suit @ https://github.com/darklow/django-suit/tarball/v2#sha256=b40c916de9528ca86bcccd42d1fd54e7773e5071d2bfd9efc576039c1a441c0b
executing==1.2.0
filelock==3.9.0
Flask==2.2.2
fontawesomefree==6.4.2
fonttools==4.38.0
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
iconify==0.0.103
idna==2.10
ipykernel==6.23.1
ipython==8.14.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jupyter_client==8.2.0
jupyter_core==5.3.0
kaitaistruct==0.10
kids.cache==0.0.7
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
ldap3==2.9.1
libsass==0.21.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mitmproxy==9.0.1
mitmproxy_wireguard==0.1.19
mock==4.0.3
msgpack==1.0.4
nest-asyncio==1.5.6
numpy==1.23.5
packaging==22.0
parso==0.8.3
passlib==1.7.4
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==3.1.0
pline==0.4.4
prompt-toolkit==3.0.38
protobuf==4.21.12
psutil==5.9.5
psycopg2==2.9.7
publicsuffix2==2.20191221
pure-eval==0.2.2
pyasn1==0.4.8
pycodestyle==2.10.0
pycparser==2.21
pydivert==2.1.0
pyfiglet==0.8.post1
Pygments==2.15.1
pyline==0.3.20
pylint==2.17.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyperclip==1.8.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.8.2
pywin32==306
pyzmq==25.1.0
requests==2.23.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
shiboken2==5.15.2.1
shiboken6==6.4.2
six==1.16.0
sortedcontainers==2.4.0
speedtest==0.0.1
speedtest-cli==2.1.3
sqlparse==0.4.3
stack-data==0.6.2
stripe==6.0.0
termcolor==2.2.0
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
traitlets==5.9.0
typing==3.7.4
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.25.11
urwid==2.1.2
virtualenv==20.20.0
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.2.2
whitenoise==6.5.0
wrapt==1.15.0
wsproto==1.2.0
zstandard==0.19.0
