
{% load static %}
<nav class="navbar text-center navbar-expand-lg sticky-top shadow ">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="{% static 'imgs/test_logo.png' %}" alt="">
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#main"
            aria-controls="main"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
          <i class="fa-solid fa-bars fa-1x text-white"></i>
          </button>
          <div class="collapse navbar-collapse  justify-content-end" id="main">
            <ul class="navbar-nav mb-2 mb-lg-0 ">
            <li class="nav-item">
                <a class="p-2 p-lg-3 nav-link" href="#">عن المتجر <i class="fa-solid fa-circle-info ms-2"></i></a>
            </li>
            </li>
            <li class="nav-item">
                <a class="p-2 p-lg-3 nav-link c-font" href="#"> الحجوزات  <i class="fa-regular fa-bookmark ms-2"></i>  </a>
            </li>
            </li>
</div>
</nav>
    